@import "tailwindcss";
/* 👇 新增这一行来启用 typography 插件 */
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 让 KaTeX 公式鼠标变成手型，并加一点 hover 效果 */
.katex {
  cursor: pointer;
  transition: opacity 0.2s;
}

.katex:hover {
  opacity: 0.8;
}